@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
	--color-menu: #acb6bf;
	--color-menu-hover: #6c818d;
	--color-fondo-hover:#6c818d;
	--color-sub-titulo: #fdfff4;
	--color-titulo:#f8f7f1;
	--fondo-footer:
	--color-boton: #6c818d;
	--color-fondo-1:#4a565c;
	--color-fondo-2:#4a565c;
}



body{ 
	font-family: Poppins;
	font-family: "Space Mono", monospace;
  	font-weight: 700;
  	font-style: normal;
	font-size: 19px;
	color: #fff;
}

footer{
	background-color: var(--color-menu);
	color:#fff;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 5px;
	
}

h1,h2,h3,h4,h5,h6{
	color: #000;
}

.titulo{
	color: var(--color-titulo);
	font-family: "Space Mono", monospace;
  	font-weight: 700;
  	font-style: italic;
	font-size: 70px;
	
}

.subtitulo{
	color: var(--color-sub-titulo);
	font-family: "Poppins", sans-serif;
  	font-weight: 100;
  	font-style: normal;
}

.section{
	padding: 8% 0;
}

#hero{
	background-image: url("../img/fondo-hero.jpg");
	background-size: cover;
	background-position: center;
	background-color: rgba(0,0,0,0.40);
	background-blend-mode: multiply;
	padding: 12% 0;
	text-align: center;
	
}

#con-oneframe{
	background-color: var(--color-menu-hover);
}

#con-oneframe #cosas-enmedio{
	margin-top: 110px;
}

#con-oneframe h1{
	padding-bottom: 20px;
}

#con-oneframe li{
	padding: 15px 0;
	
}

#con-oneframe-img{
	width:auto;
	height: 600px;
	text-align:center;
	padding-left: 80px;
}

#contactanos-lista a{
    color: white;
    text-decoration: none;
}

#hero h1{
	margin-bottom: 30px;
}

#hero p{
	padding: 0 70px;
	text-align: left;
}

.btn-primary{
	background-color: var(--color-boton);
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 500;
	padding: 10px 40px;
	border-radius: 20px;
}



header{
	background-color:var(--color-menu);
	
}

#contactanos{
	background-color: var(--color-fondo-1);
}

#contactanos-img{
	width:auto;
	height: 600px;
}

#categorias{
	background-color: var(--color-fondo-2);
}



#trabajos{
	background-color: var(--color-fondo-1); 
}

#trabajos h2{
	padding-bottom: 60px;
	color: #fff;
}

#trabajos #artista{
	background-color: var(--color-fondo-hover);
	padding-top: 10px;
	padding-bottom: 10px;
}

#proyectos-destacados{
	background-color: var(--color-fondo-1);
}

#nav-socials .nav-link .fa-brands{
	background-color: #fff;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 100%;
	color: var(--color-menu);
}

#portafolio-fotografico{
	background-color: var(--color-fondo-1);
}

#portafolio-fotografico .icono-circulo{
	width: 100px;
	height: 100px;
	line-height: 100px;
	color: var(--color-fondo-hover);
	background-color: #fff;
	border-radius: 100%;
	font-size: 40px;
	
}

#portafolio-fotografico h4{
	font-weight: 400;
	color: var(--color-menu);
}

#portafolio-fotografico p{
	
}

#nav-socials .nav-link .fa-brands:hover{
	background-color: var(--color-menu-hover);
	color: #fff; 
}

#logo-oneframe{
	width: auto;
	height: 90px;
}

#planes{
	background-color: var(--color-fondo-1); 
}

.plan-card {
    background: #f2f2f2;
    border-radius: 15px;
    padding: 40px 30px;
    text-align: center;
    max-width: 300px;
    margin: auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.plan-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.plan-card hr {
    width: 80%;
    margin: 10px auto 20px;
    border: 1px solid #888;
}

.plan-price {
    font-size: 20px;
    margin-bottom: 20px;
    color: #555;
}

.plan-list {
    list-style: disc;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 30px;
	color: #000;
	font-weight: 300;
}

.plan-list li {
    margin-bottom: 10px;
}
#planes .btn{
	color: #000;
}

#texto-panes{
	color: var(--color-titulo);
	padding-top: 30px;
	padding-bottom: 50px;
}

#planes .btn:hover{
	color: #fff;
}

#log-in{
	background-color: var(--color-fondo-1); 
}

#log-in h1{
	font-size: 60px;
	padding-bottom: 20px;
}

#pago{
	background-color: var(--color-fondo-1);
}

#pago h1{
	font-size: 60px;
	padding-bottom: 20px;
}

#sobre-nosotros{
	background-color: var(--color-menu-hover);
}

#persona{
	padding-top: 15px;
}

.nostros{
	width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
